# Ignore node_modules
node_modules/

# Ignore log files
logs
*.log

# Ignore temp files
*.sublime-project
*.sublime-workspace

# Ignore OSX files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore temp files created by IDEs
*.swp

# Ignore cache files
.cache
.cache-loader
.cache-loader.js
.webpack-cache

# Ignore project dependencies
yarn-error.log
yarn-debug.log

# Ignore build artifacts
dist/
build/
# ignore environment files
*.env
*.env.local

# custom ignore rules
backend-assets/
